Django>=6.0.4,<6.1
mysqlclient
pytest
pytest-django
python-dotenv
djangorestframework
djangorestframework-simplejwt
gunicorn
rapidfuzz
django-cors-headers
whitenoise
openpyxl
pdfplumber
pytesseract
Pillow
